{{> head }}
{{> navbar }}
<div class="row">

    <div class="col-6">
        <h1>Mision</h1>
        <p>Hacer los mejores paseos</p>
    </div>

    <div class="col-4">
        <img src="assets/img/perro.jpeg" class="img-thumbnail">
    </div>

</div>
{{> footer}}